*.properties
/.idea
*.iml
/Nbc_Automation/.settings/
/Nbc_Automation/.classpath
/Nbc_Automation/reports/
/Nbc_Automation/test-output/
/regression-automation/.settings/
/regression-automation/.classpath
/regression-automation/reports/
/regression-automation/test-output/
selenium-server-standalone-3.14.0.jar